form {
    padding: 10px;
}

input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 6px 0;
    border: 0;
}

input[type='submit'] {
    margin: 10px auto;
    padding: 10px;
    border: 0;
    display: block;
}