.navbar {
    padding: 5px;
    text-align: center;
    background: rgb(240, 240, 240);
    color: black;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
    }
}